@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App {
  height: 100vh;
}

.App-header {
  height: 100px;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.todosList {
  display: flex;
  color: green
}

.List {
  display: flex;
  justify-content: center;
  align-items: center;
  top:0;
  width:100%;
  margin: auto;
}

.checkbox {
  padding-left: 10px;
}